

body {
    
    background-image: url(https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    font-family: cursive;

}



.header-text:hover ~ .cursor
{
    transform: scale(6);
}



#navbar1 {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#navbar1 a {
    text-decoration: none;
    color: wheat;
}

li {
    list-style: none;
}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    height: 2vh;
   
    background: #27282c;
    color: #fff;
    
    
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  

  
  .services:hover .dropdown {
    display: block;
  }




.header-text {
    width: 96%;
    text-align: center;
    height: 65vh;
    padding: 2%;
    padding-top: 8%;
    margin-top: 0%;
    color: rgb(33, 22, 72);
    text-shadow: #4c9e9e;
    background: rgb(0,190,190);
background: linear-gradient(90deg, rgba(0,190,190,0.98) 0%, rgba(0,128,128,0.1657913165266106) 0%);
    
    
}

.header-text h1 {
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 0%;
    font-size: 80px;
    margin-bottom: 0%;

}



.header-text h2 {
    padding-top: 0%;
    margin-top: 8%;
    font-size: 60px;
    margin-bottom: 1%;
    color: white;
}

.header-text p {
    padding: 0%;
    margin: 0%;
    color: white;
}

#videocon {
    background: rgb(39,40,44);
background: linear-gradient(90deg, rgba(39,40,44,1) 0%, rgba(39,40,44,0.9304971988795518) 0%);
    padding-top: 2%;
    padding-bottom: 40px;
    width: 96%;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    margin-bottom: 10px;
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;


}

#butt {
    margin-left: 20px;
}

.buttons a {
    position: relative;
    background: white;
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: o.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.buttons a:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);

}

.buttons a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}


.buttons a span{
    position: relative;
    z-index: 1;
}


iframe{
    background: #27282c;
    border-radius: 2%;
    border-color: rgba(54, 64, 127, 0.255);
    border-width: 20px;
    padding-bottom: 20px;
    width: 50%;
    height: 400px;
}
